// Make sure you set all padding; borders on this select and not the parent div.
// this is mainly for :focus and tabbing.
.BaseWidget {
  height: inherit;
  width: inherit;
  padding: 6px 8px 8px 6px;
  margin: 0;

  .relative {
    position: relative;

  }

  .draggableArea {

    width: 100%;
    height: 50px;
    position: absolute;
    z-index: 10;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  .nonDraggable {
    width: 100%;
    height: 100%;
  }
}

.remove {
  position: relative;
  padding: 0;
  margin: 0;
  top: 0;
  float: right;
  width: 0;
  height: 0;
  z-index: 100;

  .Button {
    positon: absolute;
    padding: 0;
    margin: 2px;
    max-width: 10px;
  }
}