//.Toolbar  {
//  height: 100%;
//  width:20px;
//  background-color: lightgrey;
//   .Button{
//    display: none;
//  }
//}


.Toolbar {
  position: relative;
  width: 0;
  height: 100%;

  .container {
    z-index: 999999;
    position: absolute;
    min-height: 100%;
    min-width: 20px;
    height: 100%;
    width:auto;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    padding: 0;
    margin: 0;

  }


  .Listing {
    display: flex;
    max-width: inherit;
    width: 100%;
    overflow-y: scroll;
    align-content: flex-start;
    flex-direction: column;
    background-color: whitesmoke;
    transition: opacity 1s, width 1s;
    min-width: 0;
  }

  .hide {
    height: 0;
    opacity: 0;
    width: 0;
    transition: opacity 1s, width 1s;
  }

  .Toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    color: white;
    width: 25px;
    background-color: rgba(178, 178, 178, 0.31);
    min-width: 20px;
  }

  .Toggle:hover {
    background-color: darkgrey
  }


  .Button {
    font-size: 17px;
    display: block;
    text-align: left;
    border-radius: 0;
    width: inherit;
    margin: 0;
    background-color: inherit;
    padding: 10px 20px 5px 10px

  }

  .reverse {
    right: 0
  }

  .Listing::-webkit-scrollbar {
    display: none
  }
}

